<footer>
    <div class="container">
        <section>
            <div>
                <p>
                    Code licensed <a rel="noopener noreferrer" class="secondary"
                                     href="https://github.com/pyrovetis/exile/blob/main/LICENSE"
                                     target="_blank">MIT</a>.
                </p>
                <p>Currently <code>v 1.35</code>.</p>
            </div>
            <a aria-label="azarmanesh" data-discover="true" href="https://azarmanesh.dev" target="_blank">
                <img src="{{ url_for('static', filename='images/mhsn/dark.svg') }}" alt="mhsn logo"
                     class="logo logo-dark" width="38" height="24" loading="lazy">
                <img src="{{ url_for('static', filename='images/mhsn/light.svg') }}" alt="mhsn logo"
                     class="logo logo-light" width="38" height="24" loading="lazy">
            </a>
        </section>
    </div>
</footer>