<footer>
    <div class="container">
        <section>
            <div>
                <p>
                    Code licensed <a rel="noopener noreferrer" class="secondary"
                                     href="#"
                                     target="_blank">MIT</a>.
                </p>
                <p>Currently <code>v 1.35</code>.</p>
            </div>
            <a aria-label="mhsn" data-discover="true" href="https://mhsn.ir" target="_blank">
                <img src="{{ url_for('static', filename='images/mhsn/dark.svg') }}" alt="mhsn logo"
                     class="logo logo-dark">
                <img src="{{ url_for('static', filename='images/mhsn/light.svg') }}" alt="mhsn logo"
                     class="logo logo-light">
            </a>
        </section>
    </div>
</footer>