{% extends "base.html" %}
{% from "components/macros.html" import breadcrumbs %}

{% block content %}
    {% include "components/dashboard-navigation.html" %}
    {{ breadcrumbs("Operating Systems") }}

    <hgroup>
        <p class="chapter">Statistics</p>
        <h1>Operating Systems</h1>
        <p>Understand the operating systems your audience is on.</p>
    </hgroup>


    <div role="main">
        <section>
            <div class="header-with-loading">
                <h2>Operating System Usage Chart</h2>
                <img class="htmx-indicator header-loading header-loading-chart"
                     src="{{ url_for('static',filename='images/loading/tube-spinner.svg') }}"
                     alt="Loading...">
            </div>
            <p>Understand the operating system landscape of your audience by analyzing the distribution across different
                platforms.</p>

            <div hx-get="{{ url_for('api.chart_os') }}" hx-trigger="load once" hx-swap="innerHTML"
                 id="chart-overview">
                <img class="htmx-indicator chart-loading"
                     src="{{ url_for('static',filename='images/loading/tube-spinner.svg') }}"
                     alt="Loading...">
            </div>
        </section>

        <section>
            <div class="header-with-loading">
                <h2>Operating System Usage Table</h2>
                <img class="htmx-indicator header-loading header-loading-table"
                     src="{{ url_for('static',filename='images/loading/tube-spinner.svg') }}"
                     alt="Loading...">
            </div>
            <p>This table summarizes the operating systems used by your visitors, including the number of users and
                their
                percentage distribution.</p>

            <div hx-get="{{ url_for('api.table_os') }}" hx-trigger="load once" hx-swap="outerHTML"></div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
{% endblock %}
